#!/bin/bash
#SBATCH --job-name=clearml_task
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --mem={{ memory }}
#SBATCH --time={{ time }}
#SBATCH --cpus-per-task={{ cpu }}
#SBATCH --output={{ log_dir }}/run-%j-{{ task_id }}.log
#SBATCH --error={{ log_dir }}/run-%j-{{ task_id }}.err
{% if account %}
#SBATCH --account={{ account }}
{% endif %}
{% if gpu > 0 %}
#SBATCH --gres=gpu:{{ gpu }}
{% endif %}

set -euo pipefail

export USE_GPU={{ 1 if gpu > 0 else 0 }}

export CLEARML_TASK_ID="{{ task_id }}"
export CLEARML_API_HOST="{{ api_host }}"
export CLEARML_WEB_HOST="{{ web_host }}"
export CLEARML_FILES_HOST="{{ files_host }}"
export CLEARML_API_ACCESS_KEY="{{ access_key }}"
export CLEARML_API_SECRET_KEY="{{ secret_key }}"

{% for key, value in extra_envs.items() %}
export {{ key }}="{{ value }}"
{% endfor %}

source {{ config_file }}

wrapper clearml-agent execute --id {{ task_id }}